.listening-wrapper {
  height: 200px;
  h3 {
    line-height: 1.2;
    font-weight: 700;
    font-size: 30px;
    color: #cccccc;
    margin-top: 50px;
  }
  h4 {
    font-weight: 500;
    color: #131111;
    margin-top: 20px;
  }
  .content-wrapper {
    margin-top: 50px;
    .listening-cell {
      label {
        font-weight: 400;
        font-size: 9px;
        color: #ff8080;
      }
      h6 {
        font-weight: 500;
        font-size: 16px;
        color: #000000;
      }
    }
  }
  .error-wrapper {
    margin-top: 20px;
    h5 {
      font-size: 20px;
      color: #c42753;
      font-weight: 600;
    }
  }
}
